.home-image-container {
  @apply w-full
    h-full;
}

.home-image-wrapper {
  height: 100%;
  z-index: 100;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.home-image {
  @apply relative
    z-10
    w-full
    h-full;
  transition: opacity 225ms ease-in-out, transform 2s ease-in-out;
  background-size: cover;
  transform: scale(1);
  background-position: center center;
}

.tile {
  width: calc(50% - 2rem);
  height: calc(50% - 2rem);
}

.tile-0,
.tile-1 {
  margin-bottom: 4rem;
}

.tile:not(.active):hover .home-image {
  transform: scale(1.15);
  opacity: 1;
}

// .tile.active {
// }

// .tile.inactive {
// }

.home-image-title {
  @apply absolute
    text-white
    z-20
    lowercase
    -mt-2
    p-4;
  opacity: 1;
  transition: opacity 50ms ease-in-out;
  letter-spacing: 2px;
}

.home-image-link {
  @apply flex
    w-full
    h-full
    left-0
    top-0
    overflow-hidden;
}

.home-image-container {
  position: relative;
}

.home-body__wrapper {
  @apply flex
    items-center;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

.home-body__wrapper--active {
  z-index: 102;
}

.home-body {
  @apply flex
   flex-col
   justify-center
   p-8
 bg-white;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 6rem;
}

.home-body:after {
  content: '';
  height: 3rem;
  display: block;
}

/* 
**********************
Page transitions below
**********************
*/
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 320ms;
}

.page-enters,
.page-leave-to {
  opacity: 0;
}

/* .page-enter .home-image-container:nth-of-type(1),
.page-leave-to .home-image-container:nth-of-type(1) {
  height: 100%;
} */
